    @mixin flex($display: flex, $flex-wrap: wrap, $justify-content: space-around) {
        display: $display;
        flex-wrap: $flex-wrap;
        justify-content: $justify-content;
    }

    @mixin img-responsive($display: block, $center: false, $width: null) {
        display: $display;
        max-width: 100%;
        height: auto;

        @if $center ==true {
            margin-left: auto;
            margin-right: auto;
        }

        @if $width !=null {
            width: $width;
        }
    }