/* ----------------------------- */
/* GALERIA */
/* ----------------------------- */

.titulo-galeria {

    h1 {
        text-align: center;
        margin: 15rem 0;
        font-size: 5rem;
        letter-spacing: 10px;
    }

    video {
        width: 100%;
        height: auto;
        display: block;
    }

}

.imagenesgaleria {
    @include flex($justify-content: center);
    gap: 2rem;
    margin: 6rem 0;


    img {
        @include img-responsive($center: true, $width: 330px);
        box-shadow: $card-shadow;
        border-radius: 10px;
    }

}

/* ----------------------------- */
/* Testimonios galeria */
/* ----------------------------- */

.testimonio-galeria-titulo {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.test-galeria {
    @include flex($display: flex, $justify-content: center);
    gap: 4rem;

    .test-mensaje {
        width: 600px;
        padding: 2rem;
        border-radius: 10px;
        font-size: 1.3rem;
        align-content: center;
    }
}

/* -------------------------------- */
/* Etiqueta sobrepuesta a la imagen */
/* -------------------------------- */
.testimonio-media {
    position: relative;
    display: inline-block;


    img {
        @include img-responsive($center: true, $width: 600px);
        border-radius: 6px;
        border: 2px solid #bdd9e8;
    }

    blockquote {
        position: absolute;
        font-style: italic;
        background-color: #bcd3df;
        max-width: 400px;
        width: 100%;
        text-align: center;
        font-size: 21px;
        border-radius: 5px;
        margin-bottom: -1rem;
        padding: 0.9rem 1.1rem;
        bottom: 55px;
        border: 3px solid #bdd9e8;
    }

}

.blockquote-left {
    transform: translateX(-50%);
}

.blockquote-right {
    transform: translateX(90%);
}